<!--ログインUSERの情報を左側に表示する-->
<!--col-xl-3使用中　呼び出し元でcol-xl-9すること-->
<!--呼び出し元で、 class=contine, class=rowの内部に書くこと-->

	<% if @book.errors.any? %>
		<div class="error-main" id="error_explanation">
		<h2><%= @book.errors.count %>errors prohibitedd this obj from being saved:</h2>
			<ul>
			<% @book.errors.full_messages.each do |msg| %>
      			<li><%= msg %></li>
    		<% end %>
    		</ul>
  		</div>
	<% end %>

<div class="col-lg-3">
	<h2>User info</h2>
	<div class="info-image">



	<!--Userの画像がある場合-->
	<% if @user.profile_image_id != nil %>
		<!--refileなので profile_imageの_idは抜く-->
		<%= image_tag attachment_url(@user, :profile_image, :fill, 60, 60) %>

	<!--Userの画像がない場合-->
	<% else %>
		<%= image_tag 'no-image.jpg', size: '60x60' %>

	<% end %>
	</div>


	<table>
		<tbody>
			<tr>
				<th>name</th>
				<th><%= @user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= @user.introduction %></th>
			</tr>
		</tbody>
	</table>


	<%= link_to "user edit",edit_user_path(current_user.id) %>

	<h2>New book</h2>
	<%= form_for(@book, url: books_path) do |f| %> <!--book#createを呼ぶ-->
		<p>title</p>
		<%= f.text_field :title %>
		<p>Opinion</p>
		<%= f.text_field :body %>
		<%= f.submit "Create Book" %>
	<% end  %>

</div>