<!--ログインUSERの情報を左側に表示する-->
<!--col-xl-3使用中　呼び出し元でcol-xl-9すること-->
<!--呼び出し元で、 class=contine, class=rowの内部に書くこと-->



<div class="col-lg-3">
	<h2>User info</h2>

	<div class="info-image">
		<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-image.jpg" %>

	</div> <!--info-image-->

	<table class="table">
		<tbody>
			<tr>
				<th class="info-th">name</th>
				<th class="info-th"><%= user.name %></th>
			</tr>
			<tr>
				<th class="info-th">introduction</th>
				<th class="info-th"><%= user.introduction %></th>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<%= link_to "",edit_user_path(current_user.id),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
	</div>

	<h2>New book</h2>
	<%= form_for(book, url: books_path) do |f| %> <!--book#createを呼ぶ-->
	<div class="row info-field">
		<label class="info-label">Title</label>
		<%= f.text_field :title,class: "col-xs-12" %>
	</div>
	<div class="row info-field">
		<label class="info-label">Opinion</label>
		<%= f.text_area :body,class: "col-xs-12" %>
	</div>
	<div class="row info-actions">
		<%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
	</div>
	<% end  %>

</div>