<%= render "users/header" %>

<div class="margin-top-51px">
	<div class="container">
		<!--notice-->
		<p></p>
		<% if flash[:notice] != nil %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<div class="row">
			<%= render "users/info", user: @user, book: @book %>
			<div class="col-lg-9">
				<h2>Book detail</h2>

				<!--ログイン中ユーザーのid == Bookのuser_id-->
				<% if current_user.id == @book_show.user_id %>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<% i = @users.find(@book_show.user_id) %>
									<% if i.profile_image_id != nil %> <!--Userの画像がある場合-->
										<!--refileなので profile_imageの_idは抜く-->
										<%= link_to user_path(i.id) do %>
											<%= image_tag attachment_url(i, :profile_image, :fill, 100, 100) %>
											<p><%= i.name %></p>
										<% end %>
									<% else %> <!--Userの画像がない場合-->
										<%= link_to user_path(i.id) do %>
											<%= image_tag 'no-image.jpg', size: '40x40' %>
											<p><%= i.name %></p>
										<% end %>
									<% end %>
							</td>
							<td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
							<td><%= @book_show.body %></td>
							<td><%= link_to "Edit",edit_book_path(@book_show.id), class: "btn-sm btn-success" %></td>
							<td><%= link_to "Destroy", book_path(@book_show.id), method: :delete,data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-danger" %></td>
						</tr>
					</tbody>
				</table>

				<!--ログイン中のユーザーのid != Bookのuser_id-->
				<% else %>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<% i = @users.find(@book_show.user_id) %>
								<% if i.profile_image_id != nil %> <!--Userの画像がある場合-->
								<!--refileなので profile_imageの_idは抜く-->
										<%= link_to user_path(i.id) do %>
											<%= image_tag attachment_url(i, :profile_image, :fill, 100, 100) %>
											<p><%= i.name %></p>
										<% end %>
								<% else %> <!--Userの画像がない場合-->
										<%= link_to user_path(i.id) do %>
											<%= image_tag 'no-image.jpg', size: '40x40' %>
											<p><%= i.name %></p>
										<% end %>
								<% end %>
							</td>
							<td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
							<td><%= @book_show.body %></td>
						</tr>
					</tbody>
				</table>
				<% end %>

			</div> <!--col-9-->
		</div> <!--row-->
	</div> <!--container-->
</div>

<%= render "users/footer" %>