<%= render "users/header" %>

<div class="margin-top-51px">
	<div class="container">
		<!--notice-->
		<p></p>

		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

		<% if resource.errors.any? %>
		<div class="error-main" id="error_explanation">
			<% if resource.errors.count == 1 %>
				<h2><%= resource.errors.count %> error prohibited this user from being saved:</h2>
			<% end %>
			<% if 2 <= resource.errors.count %>
				<h2><%= resource.errors.count %> errors prohibited this user from being saved:</h2>
			<% end %>
			<ul class="error-ul">
				<% resource.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>



		<div class="forgot-password-field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		</div>

		<div class="forgot-password-actions">
			<%= f.submit "Send me reset password instructions", class: "btn btn-danger" %>
		</div>
		<% end %>

		<%= render "users/shared/links" %>
	</div>
</div>
<%= render "users/footer" %>
